.userIDTextBox{
  position: absolute;
  left: auto;
  float: left;
  width: 200px;
  height: 30px;
  left: 100px;
  top: 30px;
}

.passwordTextBox{
  position: absolute;
  left: auto;
  float: left;
  width: 200px;
  height: 30px;
  left: 100px;
  top: 70px;
}

.submitButton{
  position: absolute;
  left: auto;
  float: left;
  width: 120px;
  height: 30px;
  left: 200px;
  top: 120px;
  background-color: orange;
}

.LoginBox{
  background-color: lightgray;
  margin: 5px;
  width: 320px;
  height: 140px;
  padding: 20px;
  border: 3px solid black;
  border-radius: 15px;
  position: relative;
  /* float: left; */
}

.LoginPage{
  background: #fff3f3;
  padding: 50px;
}

